@import "tailwindcss";

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/* 
body {
  background: linear-gradient(to bottom, #ffffff, #eef2ff, #667eea);
} */